body {
    background-color: #f0f8ff;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    }
